 body {
    background-color: #1c1c1c;

}
/* h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}*/
